*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.input-all{
    margin-left: 100px;
}
body{
    background-image: url(../img/bg\ images.avif);
    background-size: cover;
}

.container{
    color:white;
    cursor: pointer;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}